@{
    <!--Page title-->
    ViewBag.Title = "About";
}

    <!--This page holds information about the company-->

    <!--Jumbutron to display where you're at and some information-->
    <div class="jumbotron" style="margin: 1rem; border-radius: 1rem;">
        <h1 class="display-4">About Shoey</h1>
        <p class="lead">Read about our history and why you should choose us when buying shoes!</p>        
    </div>

    <!--Row holding all the cards-->
    <div class="row justify-content-center">
        <!--First card-->
        <div class="card border-primary mb-3" style="width: auto; margin: 1rem;">
            <div class="card-header">History</div>
            <div class="card-body">
                <h4 class="card-title">Where it all started..</h4>
                <p class="card-text">Shoey was a small company founded in Sweden Karlstad,
                we started out in a garage by polishing shoes for cheap prices.</p>
                <p class="card-text">After some years we wanted to try something different,
                so we started recolouring old shoes to give them a new look.</p>
                <p class="card-text">Soon after this we bought our first office, and we expanded by hiring more people to work with us.</p>
                <p class="card-text">By this time we had gotten really popular, but we still wanted to dive further into shoes.
                So we started making our own shoes from scratch,
                and our top priority was to always have the customer in mind when designing our shoes.</p>
                <p>And today we're the worlds largest company selling shoes, with a 4,7 star rating on over 100000 reviews.</p>
            </div>
        </div>        
    </div>


