
@{
    ViewBag.Title = "Email Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Jumbutron to display where you're at and some information-->
<div class="jumbotron" style="margin: 1rem; border-radius: 1rem;">
    <h1 class="display-4">Email sent!</h1>
    <p class="lead">Your email has now been sent, we'll be in contact with you shortly.</p>
</div>

