@{
    <!--Title of page-->
    ViewBag.Title = "Products";
}

<!--This is the products page which will hold all the products the company is selling
    This would be populated via for/foreach loop with data from a database to display
    all the products with ease. But for demo purposes this is hard coded.-->

<!--Jumbutron to display where you're at and some information-->
<div class="jumbotron" style="margin: 1rem; border-radius: 1rem;">
    <h1 class="display-4">Our Products</h1>
    <p class="lead">Here you can see all our shoes currently availible.</p>
    <hr class="my-4" />
    <p>Our shoes are super comfortable while still looking stylish all to make our customers happy.</p>
</div>

<!--Row containing allt he products-->
<div class="row justify-content-center">

    <!--First product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/Converse.png" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">Converse</h5>
            <p class="card-text">One of our latest shoe models, with amazing design and comfort.</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>

    <!--Second product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/Heels.png" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">High Heels</h5>
            <p class="card-text">Want to wear good looking heels without hurting your feet? Then this model is for you!</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>

    <!--Third product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/LeatherShoes.png" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">Leather Shoes</h5>
            <p class="card-text">Leather shoes in the highest quality, fit for both everyday use and when you want to look extra fancy!</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>

    <!--Fourth Product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/LeatherBoots.jpg" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">Leather Boots</h5>
            <p class="card-text">Leather boots perfect for the one that wants to look extra fancy while keeping yourself warm.</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>

    <!--Fifth Product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/Nike.jpg" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">Nike Sneakers</h5>
            <p class="card-text">Perfect for the Nike enthusiast, comfortable for everything, sports, walking, running and more.</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>

    <!--Sixth Product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/GlitterHeels.jpg" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">Glitter Heels</h5>
            <p class="card-text">Make everyone look your way with these glittering high heels.</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>

    <!--Seventh Product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/Sneakers.jpg" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">Sneakers</h5>
            <p class="card-text">These sneakers with the look of work boots will ensure you have that extra comfort while still looking professional.</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>

    <!--Eight Product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/ExtraHighHeels.png" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">Extra High Heels</h5>
            <p class="card-text">Extra high heels for those who are daring.</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>

    <!--Ninth product-->
    <div class="card mb-4" style="width: 18rem; margin: 1rem;">
        <img src="~/Content/Images/Shoes/ConverseTwo.jpg" class="card-img-top" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">Converse</h5>
            <p class="card-text">Converse shoes made specifically for people who want to have a modern look while still being able to walk long distances.</p>
            <a href="#" class="btn btn-primary">Details &raquo;</a>
        </div>
    </div>
</div> <!--Row end-->
